.tabel-laboran {
    height: 800px;
    background: url(background.png);
    background-size: cover;
    position: relative;
}

.container {
    width: 0;
    margin-bottom: 200px;
    float: left;
}

.table table-success table-striped {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}