body {
    margin: 0px;
    padding: 0px;
}

.wrapper{
    margin: auto;
    position: relative;
    height: 1000px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.59);
    background: url(background.png);
    background-size: cover;
}

.wrap .menu{
	height: 50px;
}

.wrap .menu ul li{
	float: right;
	list-style-type: none;
	padding: 30px;
}
