.login-dokter {
    height: 1000px;
    background: url(background.png);
    background-size: cover;
    position: relative;
}

.login-dokter form {
    position: absolute;
    width: 400px;
    height: 440px;
    left: 95px;
    top: 200px;
    background: rgba(230, 230, 230, 0.82);
    border-radius: 15px;
}

.container {
    width: 0;
    margin-bottom: 200px;
    float: left;
}

.form {
    padding: 20px;
}

.btn {
    position: absolute;
    width: 509px;
    height: 43px;
    left: 132px;
    top: 717px;
}