.vh-100 {
    height: 800px;
    background: url(/assets/images/background.png);
    background-size: cover;
}

.container {
    width: 0;
    margin-bottom: 250px;
    float: left;
}

.col ms-5 {
    width: 100%;
    float: left;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.table tbody tr td {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.table thead tr th {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.table tbody tr {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #F8F8F8;
}

th,
td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-color: #C4C4C4;
    padding: 8px
}

.container2 {
    width: 10%;
    height: 30px;
    position: relative;
    float: left;
    display: block;
}

.container-lg {
    margin-bottom: auto;
}

.container rounded-3 {
    margin-bottom: auto;
    margin-right: auto;
    border-collapse: collapse;
}